html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin: auto;
}

main {
  width: auto;
  height: 100%;
  margin: auto;
  background-color: darkgrey;
  /*border: 5px solid white;*/
}